div {
  margin: 5px;
  padding: 5px;
  font-size: 10px;
}

.student {
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
}

.student p {
  width: 50ch;
}

.score {
  font-size: 8px;
  border: 1px solid grey;
  height: 20vh;
}

